{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Box Icons CSS -->
    <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Todo List</title>
</head>
<body
        class="bg-[#cfcfcf] flex flex-col items-center justify-center gap-4 h-screen"
        style="background-color: #424242"
>
<!-- header -->
<header
        class="bg-white shadow-lg w-10/12 h-auto rounded-3xl flex flex-col sm:flex-row justify-between items-center p-5 m-7 md:w-3/6"
>
    <h1 class="text-black-primary font-bold text-[40px]">Todo List</h1>
    <a
            class="bg-blue-600 py-2 px-4 text-white font-semibold rounded-2xl text-lg flex items-center gap-2"
            style="background-color: #212121"

            href="{% url 'home' %}"
    >
        <i class="bx bxs-left-arrow-circle bx-sm"></i> Go Back
    </a>
</header>

<!-- Tasks -->
<section
        class="flex flex-1 flex-wrap justify-center gap-3 bg-[#fff0] w-10/12 md:w-11/12 h-full mb-3 rounded-2xl p-3 overflow-y-auto scrollbar-hide"
>
    <!-- Task card -->
    <div class="w-full md:w-4/6 flex flex-col bg-white h-fit rounded-xl p-3">
        <!-- Top -->
        <div class="flex flex-row justify-between">
            <!-- Left: Title and Description -->
            <div>
                <h1 class="text-green-500 font-semibold text-xl">
                    {{ todo.title }}
                </h1>
                <br/>
                <h2 class="text-blue-500 font-bold">
                    Status:
                    {% if todo.completed %}
                        <span class="font-medium text-green-400"
                        >Completed <i class="bx bxs-badge-check"></i
                        ></span>
                    {% else %}
                        <span class="font-medium text-red-400"
                        >Not Completed <i class="bx bxs-sad"></i
                        ></span>
                    {% endif %}
                </h2>
                <h2 class="text-gray-500 font-bold italic underline mt-3">
                    Description
                </h2>
                <p class="text-gray-500 text-md">
                    {{ todo.description }}
                </p>
            </div>
            <!-- Right: Toggle complete mode -->
            <a href="{% url 'toggle' todo.id %}">
                {% if todo.completed %}
                    <i class="bx bxs-check-circle bx-sm text-green-500"></i>
                {% else %}
                    <i class="bx bx-check-circle bx-sm text-blue-500"></i>
                {% endif %}

            </a>
        </div>
        <!-- Line -->
        <hr class="border-t border-gray-200 my-2"/>
        <!-- Bottom: Time and Date | Delete -->
        <div class="flex flex-row justify-between">
            <h2 class="text-gray-500 font-bold">
                Due {{ todo.due_date }} <span class="font-medium text-gray-400">{{ todo.due_time }}</span>
            </h2>
            <a href="{% url 'request_to_delete_todo' todo.id %}">
                <i class="bx bxs-trash bx-sm text-red-500"></i>
            </a>
        </div>
    </div>
</section>

<!-- Box Icons -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>
